<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
          Hosted by BCC<br/>
          Copyright <%= date(new Date(), 'YYYY') %> <%= theme.mysite %> All Rights Reserved <br>
          <a href="http://beian.miit.gov.cn/" target="_blank"><%= theme.mybeian %></a>
    </div>
  </div>
</footer>
