<div class="widget-wrap">
  <h3 class="widget-title"><%= __('links') %></h3>
<div class="widget">
    <ul>
     <li><a href="https://time.geekbang.org/" title="极客时间-轻松学习，高效学习-极客邦">极客时间</a></li>
      <li><a href="http://cmsblogs.com/" title="Cm's Blog">Cm's Blog</a></li>
      <li><a href="http://www.ruanyifeng.com/" title="阮一峰的网络日志">阮一峰的网络日志</a></li>
      <li><a href="https://coolshell.cn/" title="酷壳 - COOLSHELL-陈皓">酷壳 - COOLSHELL-陈皓</a></li>
      <li><a href="http://hellojava.info/" title="hellojava-阿里毕玄">hellojava-阿里毕玄</a></li>
      <li><a href="http://blog.didispace.com/" title="程序猿DD-翟永超-《Spring Cloud微服务实战》作者">程序猿DD-翟永超</a></li>
      <li><a href="http://jm.taobao.org/" title="阿里中间件博客">阿里中间件博客</a></li>
      <li><a href="https://tech.meituan.com" title="美团点评技术团队博客">美团点评技术团队博客</a></li>
      <li><a href="http://www.iocoder.cn/" title="芋道源码 —— 纯源码解析博客">芋道源码</a></li> 
   </ul>
</div>
</div>

